@namespace Harness.UI.Components.Shell
@using DysonHarness

<div class="sidebar__brand">
    <div class="sidebar__title">DysonHarness</div>
    <span class="badge mono">@DysonBuildInfo.Current</span>
</div>

<div class="sidebar__section">
    @SessionList
</div>

<div class="sidebar__section">
    <div class="sidebar__section-label">Model</div>
    @SlugPicker
</div>

<div class="sidebar__footer">
    <a class="sidebar__settings-link" href="/settings/general">Settings</a>
</div>

@code {
    [Parameter] public RenderFragment? SessionList { get; set; }
    [Parameter] public RenderFragment? SlugPicker { get; set; }
}
